@font-face {
    font-family: "almoni-tzar";
    src: url("fonts/almoni-tzar-aaa-400.woff") format('woff');
}

.button {
    font-family: "almoni-tzar";
    background-color: #70CBB3;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    border-radius: 30px;
}

.heading {
    font-family: "almoni-tzar";
    font-weight: bold
}

.hide {
    display: none;
}

.imgDiv {
    font-family: "almoni-tzar";
    width: 100%;
    align-self: center;
    padding: 5px;
}

/* .h1, .h2, .h3, h1, h2, h3,
.divheader {
    margin-top: 4px;
    margin-bottom: 5px;
    margin-block-start: 4px;
    margin-block-end: 5px; 
} */

.h3 {
    font-family: "almoni-tzar";
    padding: 0px;
    margin: 0px;
}

.logoImg {
    font-family: "almoni-tzar";
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-top: 10px;
    max-width: 350px;
}

.formDiv {
    font-family: "almoni-tzar";
    width: 100%;
    align-content: center;
    align-self: center;
    max-width: 700px;
    margin: auto;
    padding: 5px;
}

input[type='radio']:after {
    font-family: "almoni-tzar";
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    /* background-color: #d1d3d1; */
    /* content: ''; */
    display: inline-block;
    visibility: visible;
    border: 3px solid white;
}

input[type='radio']:checked:after {
    font-family: "almoni-tzar";
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #70CBB3;
    content: ' ';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

.meetingDiv,
.exclusivityDiv,
.undecidedDiv {
    font-family: "almoni-tzar";
    font-size: 20px;
}

/* .notesDiv {

} */

.commentsTextField {
    font-family: "almoni-tzar";
    text-align: center;
    font-size: 14px;
    width: 74%;
    height: 50px;
}

.addressInput {
    font-family: "almoni-tzar";
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    width: 80%;
    height: 50px;
}

h1,
h2,
h3 {
    font-family: "almoni-tzar";
    color: #1D3136;
}